<h3>Create Cuisine</h3><br>
<div class="container">
    <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
        <p style="font-size: 20px; color: white">Processing...</p>
    </ngx-spinner>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <app-display-errors [errors]="errors"></app-display-errors>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" formControlName="name" class="form-control" placeholder="Enter Cuisine Name"
                [class.has-error]="control('name')?.errors" maxlength="100">
            <app-label-error [control]="control('name')"></app-label-error>
        </div>
        <div class="form-group">
            <label for="description">Cuisine Description</label>
            <div class="form-line">
                <textarea rows="10" [class.has-error]="control('description')?.errors" formControlName="description"
                    class="form-control" placeholder="Enter description of the cuisine">
                        </textarea>
                <app-label-error [control]="control('description')"></app-label-error>
            </div>
        </div>
        <div class="form-group">
            <label for="isActive">Status</label>
            <select class="form-control" formControlName="isActive">
                <option value="">Select</option>
                <option value="true">Active</option>
                <option value="false">InActive</option>
            </select>
        </div>
        <br>
        <button class="btn btn-success btn-block" type="submit">Save</button>
    </form>

    <div>
        <a class="nav-link" [routerLink]="['/admin/cuisine']">GO BACK</a>
    </div>
</div>