<br>
<h1>Manage Category</h1><br>

<div class="container">
    <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
        <p style="font-size: 20px; color: white">Processing...</p>
    </ngx-spinner>
    <div class="row">
        <div class="col-md-6"><br><br>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Status</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of categories">
                        <td><b>{{item.name}}</b></td>
                        <td class="text-center">
                            <div class="alert alert-success" *ngIf="item.isActive" role="alert">
                                Active
                            </div>
                            <div class="alert alert-warning" *ngIf="!item.isActive" role="alert">
                                InActive
                            </div>
                        </td>
                        <td>
                            <div (click)="deleteCategory(item.id)" class="cursor">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-trash-fill" viewBox="0 0 16 16">
                                    <path
                                        d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
                                </svg>
                            </div>
                        </td>
                        <td>
                            <div (click)="processUpdateCategory(editCategory, item)" class="cursor">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                    <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                  </svg>
                            </div>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <h3>Create Category</h3><br>
            <div>
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <app-display-errors [errors]="errors"></app-display-errors>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input class="form-control" formControlName="name" type="text" maxlength="50"
                                    [class.has-error]="control('name')?.errors"
                                    placeholder="Enter category name here" />
                                <app-label-error [control]="control('name')"></app-label-error>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="isActive">Status</label>
                                <select class="form-control" formControlName="isActive"
                                    [class.has-error]="control('isActive')?.errors">
                                    <option value="">Select</option>
                                    <option value="true">Active</option>
                                    <option value="false">InActive</option>
                                </select>
                                <app-label-error [control]="control('isActive')"></app-label-error>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div>
                                <button class="btn btn-success btn-block" type="submit">Save</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<ng-template #editCategory>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Edit Category - {{categoryModel.name}}</h4>
        <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="bsModalRef?.hide()">
          <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-update-category [categoryModel]="categoryModel" (buttonClick)="categoryProcessingStatus($event)">
        </app-update-category>
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="bsModalRef?.hide()">Close</button>
      </div>
   
</ng-template>